In [67]:
import pandas as pd
from datetime import datetime

# Load the dataset
data = pd.read_csv("/content/sample_data/train.csv")

In [68]:
# Check the column names
print(data.columns)

Index(['Unnamed: 0', 'Name', 'Location', 'Year', 'Kilometers_Driven',
       'Fuel_Type', 'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power',
       'Seats', 'New_Price', 'Price'],
      dtype='object')

In [69]:
# a) Handling missing values
# Look for missing values in all columns
missing_values = data.isnull().sum()

# Decide whether to impute or drop missing values based on the proportion of missing values
# If missing values are less than 5% of the total entries in a column, impute with mean, median, or mode
# Otherwise, drop the column
for col in data.columns:
    if missing_values[col] < 0.05 * len(data):
        if data[col].dtype == 'object':
            mode_val = data[col].mode()[0]
            data[col].fillna(mode_val, inplace=True)
        else:
            mean_val = data[col].mean()
            data[col].fillna(mean_val, inplace=True)
    else:
        data.drop(columns=[col], inplace=True)

# b) Removing units from attributes
data['Mileage'] = data['Mileage'].str.replace(' kmpl', '').str.replace(' km/kg', '')
data['Engine'] = data['Engine'].str.replace(' CC', '')
data['Power'] = data['Power'].str.replace(' bhp', '')

# c) Changing categorical variables into numerical one hot encoded value
data = pd.get_dummies(data, columns=['Fuel_Type', 'Transmission'])

# d) Creating a new feature - Current Age of the car
current_year = datetime.now().year
data['Current_Age'] = current_year - data['Year']

# e) Performing select, filter, rename, mutate, arrange, and summarize operations
# Select operation - selecting specific columns
selected_data = data[['Name', 'Location', 'Year', 'Mileage', 'Fuel_Type_Diesel', 'Fuel_Type_Petrol', 'Transmission_Automatic', 'Transmission_Manual', 'Price']]

# Filter operation - filtering cars with price greater than 50
filtered_data = data[data['Price'] > 50]

# Rename operation - renaming columns
renamed_data = data.rename(columns={'Year': 'Manufacture_Year', 'Price': 'Price_in_Lakhs'})

# Mutate operation - adding a new column for the value of 'Engine + Power'
data['Engine_Power'] = data['Engine'] + data['Power']

# Arrange operation - sorting data based on 'Current_Age' in descending order
arranged_data = data.sort_values(by='Current_Age', ascending=False)

# Summarize with group by operation - calculating mean price for each fuel type
summary_data = data.groupby('Fuel_Type_Petrol')['Price'].mean().reset_index()

# Displaying the summary statistics
print("Summary Statistics:")
print(summary_data)

# Displaying the modified dataset
print("Modified Dataset:")
print(data.head(15))

Summary Statistics:
   Fuel_Type_Petrol      Price
0                 0  12.960632
1                 1   5.756688
Modified Dataset:
    Unnamed: 0                                 Name    Location  Year  \
0            1     Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1            2                         Honda Jazz V     Chennai  2011
2            3                    Maruti Ertiga VDI     Chennai  2012
3            4      Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4            6               Nissan Micra Diesel XV      Jaipur  2013
5            7    Toyota Innova Crysta 2.8 GX AT 8S      Mumbai  2016
6            8  Volkswagen Vento Diesel Comfortline        Pune  2013
7            9       Tata Indica Vista Quadrajet LS     Chennai  2012
8           10                     Maruti Ciaz Zeta       Kochi  2018
9           11          Honda City 1.5 V AT Sunroof     Kolkata  2012
10          12                Maruti Swift VDI BSIV      Jaipur  2015
11          13     Land Rover Range Rover 2.2L Pure       Delhi  2014
12          14       Land Rover Freelander 2 TD4 SE        Pune  2012
13          15          Mitsubishi Pajero Sport 4X4       Delhi  2014
14          16                Honda Amaze S i-Dtech       Kochi  2016

    Kilometers_Driven Owner_Type Mileage Engine   Power  Seats  Price  \
0               41000      First   19.67   1582   126.2    5.0  12.50
1               46000      First      13   1199    88.7    5.0   4.50
2               87000      First   20.77   1248   88.76    7.0   6.00
3               40670     Second    15.2   1968   140.8    5.0  17.74
4               86999      First   23.08   1461    63.1    5.0   3.50
5               36000      First   11.36   2755   171.5    8.0  17.50
6               64430      First   20.54   1598   103.6    5.0   5.20
7               65932     Second    22.3   1248      74    5.0   1.95
8               25692      First   21.56   1462  103.25    5.0   9.95
9               60000      First    16.8   1497   116.3    5.0   4.49
10              64424      First    25.2   1248      74    5.0   5.60
11              72000      First    12.7   2179   187.7    5.0  27.00
12              85000     Second     0.0   2179     115    5.0  17.50
13             110000      First    13.5   2477  175.56    7.0  15.00
14              58950      First    25.8   1498    98.6    5.0   5.40

    Fuel_Type_Diesel  Fuel_Type_Electric  Fuel_Type_Petrol  \
0                  1                   0                 0
1                  0                   0                 1
2                  1                   0                 0
3                  1                   0                 0
4                  1                   0                 0
5                  1                   0                 0
6                  1                   0                 0
7                  1                   0                 0
8                  0                   0                 1
9                  0                   0                 1
10                 1                   0                 0
11                 1                   0                 0
12                 1                   0                 0
13                 1                   0                 0
14                 1                   0                 0

    Transmission_Automatic  Transmission_Manual  Current_Age Engine_Power
0                        0                    1            9    1582126.2
1                        0                    1           13     119988.7
2                        0                    1           12    124888.76
3                        1                    0           11    1968140.8
4                        0                    1           11     146163.1
5                        1                    0            8    2755171.5
6                        0                    1           11    1598103.6
7                        0                    1           12       124874
8                        0                    1            6   1462103.25
9                        1                    0           12    1497116.3
10                       0                    1            9       124874
11                       1                    0           10    2179187.7
12                       1                    0           12      2179115
13                       0                    1           10   2477175.56
14                       0                    1            8     149898.6